

.handmadeweb {
    color:rgb(103, 103, 103);
    font-size: 40px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.homepage {
    font-size:30px;
    text-align: center;
}